<%- content_for :title do %>Home<% end %>

<div class="jumbotron">
  <div class="container">
    <h1>Joad Console</h1>
    <p>DockerイメージとDockerコンテナを管理するコンソールです。</p>
    <p>
      <a class="btn btn-primary btn-lg" href="<%= jobs_index_path %>" role="button">ジョブ一覧</a>
      <a class="btn btn-primary btn-lg" href="<%= images_index_path %>" role="button">イメージ一覧</a>
      <a class="btn btn-primary btn-lg" href="<%= containers_index_path %>" role="button">コンテナ一覧</a>
    </p>
  </div>
</div>
